.main-wrapper {
  padding: 0 1rem;
}

.no-match-caption-wrapper {
  text-align: center;
  padding: 1rem 0;
}

.no-match-caption-wrapper h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
}

.no-match-caption-wrapper h3 {
  font-size: 1.3rem;
}
